.flex_container {
  display: flex;
  background: red;
  width: 500px;
  height: 500px;
  flex-flow: row nowrap;
}

.box {
  width: 100px;
  height: 50px;
  // flex-grow: 1;
  // flex-shrink: 1;
  // flex-basis: 200px;
  // flex: 1 1 auto;
}

.box_1 {
  background: green;
  // order: 2;
}

.box_2 {
  background: blue;
  // order: 1;
}

.box_3 {
  background: yellow;
  // order: 1;
}
