.button_add {
  padding: 10px;
}

.todo_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .icon_check {
      display: inline-block;
    }
  }

  .button_item {
    padding: 10px;
  }

  .icon_check {
    display: none;
  }

  .text_decoration {
    text-decoration: line-through;
  }
}
