.container {
  padding: 20px;
}

.item {
  height: 50px;
}

.item_1 {
  position: relative;
  top: 20px;
  background-color: red;
}

.item_2 {
  background-color: green;
}

.item_3 {
  background-color: blue;
}
